<form class="form-signin">
	<h2 class="form-signin-heading">Change Password</h2>
	<div id="outer_block" class="alert " style="display: none"></div><br />
	<div class="field"> 
    	<%= password_field :old,:password, :class => "input-block-level",:placeholder=>"Enter old password", :required=> true%>
  	</div>
  	
  	<div class="field"> 
    	<%= password_field :new,:password, :class => "input-block-level",:placeholder=>"Enter new password", :required=> true%>
  	</div>
  	
  	<div class="field"> 
    	<%= password_field :confirm,:password, :class => "input-block-level",:placeholder=>"Enter new password again", :required=> true%>
  	</div>
  	
  	<input type="hidden" id="user_id" value="<%=current_user.id%>" />
  	<input type="button"  id="change_password" value="Change Password" class="btn btn-large btn-primary"/>
	
</form>
