
<form class="form-signin">
<h2 class="form-signin-heading">Enter Your Email</h2>

<div id="outer_block" class="alert " style="display: none"></div><br />
  <div class="field"> 
    <%= text_field :email,:id,:class => "input-block-level",:placeholder=>"Email address", :required=> true%>
  </div>
  <div class="actions" style="display: inline">
    <input type="button" id="reset_password" value="Reset Password" class="btn btn-large btn-primary" data-loading-text="Please Wait...">&nbsp;&nbsp;&nbsp;<div id="forgot_password"><a href="/sessions/new">Log in</a></div>
    
  </div>
  </form>


