
<h1>Listing Product Keys</h1>

<table>
  <tr>
  	<th>S.No</th> 
    <th>Product Keys</th>    
  </tr>

<% @keys.each_with_index do |key,i| %>
  <tr>
  	<td><%=i+1%></td>
    <td><%= key.generated_key%></td>   
  </tr>
<% end %>
</table>

<br />

<div id="generate_keys_div" >	
   
    <input type="text" id="keys_count"  placeholder="number of keys">   
    <button id="generate_button" class="btn  btn-primary"%>Generate Keys</button>
  
</div>