<form class="inline">
	<div>
		<h2>Select Product<h2>
		<%= select :product_licence,:name , @products.map {|p| [p.name,p.id]},:prompt => "Select" %>
	</div>
	
	
</form>
<div id="response_div"></div>


