#content {
	margin-top: 50px;
}

body {

}
.form-signin {
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin: 0 auto 20px;
	max-width: 300px;
	padding: 19px 29px 29px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
#error_explanation {
	color: #f00;ul {
	list-style: none;
	margin: 0 0 18px 0;
}
}

.field_with_errors {
@extend .control-group;

}
#keys_count {
	
	margin: 0;
}
.datepicker {
	z-index: 1151;
}

#new_product {
 color: #FFFFFF;	
}

.inline {
  background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    padding: 8px 29px 72px;
}
.inline h2 {
	width: 300px;	
float: left;
}



