<!-- Modal -->
<div id="product_model" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Generate Product Lincese</h3>
  </div>

  <div class="form-signin modal-body">
  <div class="alert alert-error" id="alert" style="display: none"></div>
  <p>Select Products to generate keys....</p>
  <% @products= Product.all %>
  <%unless @products.nil?%>
  <ul>
  <%@products.each do |product|%>
  
  	<li><input type="checkbox" value="<%=product.id%>"><%=product.name%></li>
  
  <%end%>
  </ul>
  <%end%>
	<input type="text" class="input-block-level" placeholder="enter no of keys to generate" id="keys_count">
	
	</div>
  <div class="modal-footer">
  	<button id="generate_button" class="btn">Generate keys</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="hidden" id="prod_id" value="" />
    <!-- <input type="button" id="date_submit" class="btn btn-primary" value="submit"> -->
  </div>
 
</div>