<div class="form-signin">
	<h2>Reset Request</h2>
	<div>
		<input type="text" id="search_email" class="input-block-level" placeholder="Enter email...." />
	</div>
	<div>
		<input type="button" class="btn btn-large btn-primary"  id="submit_search" value="Search">
	</div>
</div>
<div id="searched_email"></div>
